.headline {
	display: flex;
	align-items: center;
}
.placeholder {
	width: 24px;
}
.pageWrapper {
	background: white;
	max-height: 100dvh;
	overflow: scroll;
	min-height: 100dvh;
}
.page {
	padding: 0.5rem;
	max-height: 100dvh;
	overflow: scroll;
	min-height: 100dvh;
	background: white;
	background: linear-gradient(
		218deg,
		rgba(122, 199, 76, 0.5) 0%,
		rgba(99, 144, 240, 0.5) 100%
	);
}
