.rocketIcon {
	animation-duration: 1s;
	animation-name: rotate;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	color: #7ac74c;
}

@keyframes rotate {
	from {
		transform: scale(1.2, 1.2);
	}

	to {
		transform: scale(0.8, 0.8);
	}
}
.handledRampager {
	animation-duration: 0.25s;
	animation-name: hop;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes hop {
	from {
		transform: translateY(4px);
	}

	to {
		transform: translateY(-8px);
	}
}
