@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');

body {
	font-family: 'Doto';
	margin: 0;
	text-transform: uppercase;
}
h4,
h5,
h6 {
	margin: 0;
}

input {
	border: 2px solid black;
	border-radius: 9000px;
	padding: 0.25rem 0.25rem 0.25rem 0.5rem;
}
