@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');

body {
	text-transform: uppercase;
	font-family: 'Doto';
	margin: 0;
}
h4,
h5,
h6 {
	margin: 0;
}

input {
	border: 2px solid black;
	border-radius: 9000px;
	padding: 0.25rem 0.25rem 0.25rem 0.5rem;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Doto';
	font-size: large;
	font-weight: 900;
}
select {
	border: 2px solid black;
	border-radius: 9000px;
	padding: 0.25rem 0.25rem 0.25rem 0.5rem;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Doto';
	font-size: large;
	font-weight: 900;
}
button {
	border: 2px solid black;
	border-radius: 9000px;
	padding: 1rem 2rem;
	text-align: center;
	background: none;
	text-transform: uppercase;
	font-family: 'Doto';
	font-weight: 900;
	background-color: rgba(255, 255, 255, 0.5);
}
:focus {
	background-color: rgba(0, 0, 0, 0.8) !important;
	color: white !important;
}

@keyframes JUMPING {
	0% {
		transform: translateY(0px);
	}
	25% {
		transform: translateY(-32px);
	}
	50% {
		transform: translateY(-16px);
	}
	75% {
		transform: translateY(-32px);
	}
	100% {
		transform: translateY(0px);
	}
}
@keyframes PLAYER_ATTACK {
	0% {
		transform: translateY(0px);
	}
	40% {
		transform: translate(64px, -64px);
	}
	100% {
		transform: translateY(0px);
	}
}
